// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #EE7A62; // - orange
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #EC9CD3;
$sunset-red: #EA4B5C; // - sunset red (primary)
$sunset-red-dark: rgb(190, 35, 50);
$light-yellow: #FDF4D6; // - light yellow
$light-orange: #F2AD7B; // - light orange (secondary)
