// Specific CSS for your home-page
body {
  background-image: url('https://images.pexels.com/photos/5778894/pexels-photo-5778894.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-size: cover;
  background-repeat: no-repeat;

}

.logo {
  background:
    linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
  border-radius: 5px;
  height: 100%;
}

#home-form {
  [type="submit"] {
    height: 3.5rem;
    width: 3.5rem;
    background-color: $sunset-red;
    border: none;
    color: $light-yellow;

    &:hover {
      background-color: $sunset-red-dark;
    }
  }
  .form-control {
    border-radius: 0;
  }
}

#tagline {
  font-family: $tagline-font;
  color: white;
  font-size: 27px;
  text-shadow: 2px 2px black;
  text-align: center;
}
