// Specific CSS for your home-page
body {
  background-image: url('https://images.pexels.com/photos/5778894/pexels-photo-5778894.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-size: cover;
}

#home-form {
  [type="submit"] {
    height: 3.5rem;
    width: 3.5rem;
    background-color: $sunset-red;
    border: none;
    color: $light-yellow;

    &:hover {
      background-color: $sunset-red-dark;
    }
  }
  .form-control {
    border-radius: 0;
  }
}

h4 {
  font-family: 'Recursive', sans-serif;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 5px;
  text-align: center;
}
