.restaurant-wrapper {
  font-size: 18px;

  h1 {
    font-size: 36px;
  }

  .review-title {
    font-size: 20px;
    font-family: $chomp-font-black;
  }

  .fa-star,
  .fa-edit {
    color: $sunset-red;
  }

  .fa-edit:hover {
    color: $orange;
  }

  // img {
  // border-radius: 8px;
  // width: 100%;
  // }

  .review-content {
    font-size: 18px;
  }
}

.center-cropped {
  object-fit: cover;
  object-position: center;
}

#average-review {
  font-size: 18px;
}

#restaurant-meta a {
  font-family: $chomp-font-black;
  color: $light-orange;
  position: relative;

  &:hover {
    color: $orange;
    text-decoration: none;
  }

  i {
    font-size: 0.7em;
    position: absolute;
    top: 6px;
    right: -20px;
  }
}

#restaurant-description {
  text-overflow: ellipsis;
  overflow: hidden;
}

.restaurant-image-container {
  i {
    position: absolute;
    right: 15px;
    bottom: -42px;
    color: $sunset-red;
    font-size: 25px;
  }
  position: relative;
}

.card-header {
  background-color: white;
  border-bottom: none;
}

.hidden-card {
  background-color: white;
  border: none;
}

.map-heading {
  text-decoration: none;
}

#accordion > div.rounded-lg {
  background-color: white;
  border: none;
}

.btn-link {
  text-decoration: none;
  border: none;

  &:hover,
  &:focus {
    text-decoration: none;
    border: none;
  }
}

button.btn:focus {
  box-shadow: none;
}

#zero-reviews-notice {
  font-size: 1.25rem;

}

// .text-sm {
//   font-size: small;
// }

.create_review {
  display: none;
}

.ratingDesc {
  text-align: center;
}

.edit_review {
  display: none;
}
