.restaurant-wrapper {
  font-size: 18px;

  h1 {
    font-size: 36px;
  }

  .review-title {
    font-size: 20px;
    font-family: $chomp-font-black;
  }

  .fa-star,
  .fa-edit {
    color: $sunset-red;
  }

  .fa-edit:hover {
    color: $orange;
  }

  img {
  border-radius: 8px;
  height: 300px;
  width: 100%;
  }

  .review-content {
    font-size: 18px;
  }
}

.center-cropped {
  object-fit: cover;
  object-position: center;
}

#average-review {
  font-size: 18px;
}

#restaurant-meta a {
  font-family: $chomp-font-black;
  color: $light-orange;
  position: relative;

  &:hover {
    color: $orange;
    text-decoration: none;
  }

  i {
    font-size: 0.7em;
    position: absolute;
    top: 6px;
    right: -20px;
  }
}
