.restaurant-wrapper {
  font-size: 18px;

  h1 {
    font-size: 36px;
  }

  .review-title {
    font-size: 20px;
    font-family: $chomp-font-black;
  }

  .fa-star {
    color: $sunset-red;
  }

  img {
  border-radius: 8px;
  height: 300px;
  width: 100%;
  }

  .review-content {
    font-size: 18px;
  }
}

.center-cropped {
  object-fit: cover;
  object-position: center;
}

#average-review {
  font-size: 18px;
}
