.restaurant-wrapper {
  font-size: 18px;

  h1 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  span.rating {
    color: $pink;
  }

  img {
  border-radius: 8px;
  height: 300px;
  width: 100%;
  }

}

.center-cropped {
  object-fit: cover;
  object-position: center;
}

#review-count {
  font-size: 18px;
}



// #restaurant-image {
//   max-width: 90%;

// }
