.success-header {
    font-family: 'loveloline_bold';
}

.success-body {
    font-family: 'loveloblack';
}

.session-link {
    background-color: #d4d1d1;
    border-radius: 5px;
    font-size: 1.5rem;
    word-wrap: break-word;
}