.favorites-card {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
  font-family: $chomp-font-black;
  margin: 2rem;
}

.img-card {
  justify-content: flex-end;
  height: 200px;
  weight: 200px;
}
