.favorites-card {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-family: $chomp-font-black;
    font-size: 2rem;
    text-decoration: none !important;
    cursor: pointer;
  }

  p {
    font-size: 1rem;
  }
  margin: 2rem;
}

.card-product {
  flex-wrap: wrap;
}

.img-card {
  height: 200px;
  weight: 200px;
  padding-top: 30px;
}

.fa-star {
  color: $sunset-red
}
