<p>
  <span class="meetup-desc-title">Meetup details:</span><br>
  Name: <%= @chomp_session.name %><br>
  Date: <%= @chomp_session.date %><br>
  Time: <%= @chomp_session.time.strftime("%I:%M %p") %>
</p>
