<p>
  <span class="meetup-desc meetup-desc-title">Meetup details:</span><br>
  <span class="meetup-desc">Name:</span> <%= @chomp_session.name %><br>
  <span class="meetup-desc">Date:</span> <%= @chomp_session.date %><br>
  <span class="meetup-desc">Time:</span> <%= @chomp_session.time.strftime("%I:%M %p") %>
</p>
