<div class="landing-page-content container">
  <div id="banner"></div>
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-lg-8">
      <div class="form-login mx-auto text-center text-white">
        <%= image_tag "https://res.cloudinary.com/du5rqng8z/image/upload/v1632887026/letschomp/White_Chomp_Logo_mnv2ru.svg", alt: "chomp logo", id: "brand-title", class: "animate__animated animate__tada" %>
        <p id="brand-subtitle">Can't decide what to eat?<br>Let Chomp decide for you</p>
        <%= link_to "Create a group & invite your friends", new_chomp_session_path, class: "btn btn-primary btn-block"%>
        <%= simple_form_for :chomp_session, url: root_path, method: :get do |f| %>
          <div id="home-form" class="search-form-control form-group d-flex align-items-center">
            <input class="form-control text-center rounded-left" type="text" name="chomped" id="chomped" placeholder="Enter Session Code"/>
            <button name="button" type="submit" class="rounded-right mb-0"><i class="fas fa-arrow-right"></i></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
