<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-login">
        <%= image_tag ("profile.png"), alt: "chomp-logo", class: "w-100 my-3" %>
        <%= simple_form_for :chomp_session, url: root_path, method: :get do |f| %>
            <div class="search-form-control form-group">
                <input class="form-control text-center" type="text" name="chomped" id="chomped" placeholder="Enter Session Code"/>
            </div>
                <button name="button" type="submit" class="btn btn-primary btn-block">
                Join Existing Group
                </button>
                <%= link_to "Create New Group", new_chomp_session_path, class: "btn btn-success btn-block btn-outline-dark"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
