<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-login">
        <%= image_tag ("https://res.cloudinary.com/du5rqng8z/image/upload/v1632458798/letschomp/profile_hbuanz.png"), alt: "chomp-logo", class: "w-100 my-3" %>
        <%= link_to "Create a group and share", new_chomp_session_path, class: "btn btn-primary btn-block"%>
        <%= simple_form_for :chomp_session, url: root_path, method: :get do |f| %>
          <div id="home-form" class="search-form-control form-group d-flex align-items-center">
            <input class="form-control text-center rounded-left" type="text" name="chomped" id="chomped" placeholder="Enter Session Code"/>
            <button name="button" type="submit" class="rounded-right mb-0"><i class="fas fa-arrow-right"></i></button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
