<div class="timer">
  <p class="time-desc time-desc-title">
  Poll closing in <span><%= ((@chomp_session.updated_at + @chomp_session.session_expiry.hour - Time.now)/3600).floor %>:
  <%= ((@chomp_session.updated_at + @chomp_session.session_expiry.hour - Time.now)% 3600 /60).floor %></span></p>
  <div id="clock"></div>
</div>
