<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-login">
        <h2 class="mb-3">My Sessions</h2>
          <%= render 'my_sessions_table' %>
        <h2 class="mb-3">My Responses</h2>
          <%= render 'my_responses_table' %>
      </div>
    </div>
  </div>
</div>