<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= restaurant.name %>
      <%= link_to "Delete", restaurant, method: :delete, remote: true %>
    </li>
  <% end %>
</ul>
