.clipboard-text {
  background-color: $light-yellow;
  border-radius: 5px;
  font-size: 1rem;
  font-family: $chomp-font-black;
}

.clipboard-form-control {
  position: relative;
}

.clipboard-form-control .btn-flat {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 5px;
  border-radius: 5px;
  background-color: $sunset-red;
  color: white;

  &:hover {
    background-color: $sunset-red-dark;
  }
}

.clipboard-form-control .clipboard-text {
  height: 3.5rem;
  border: 1px solid $sunset-red;
}
