.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'loveloblack';
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
