.form-login {
  background: white;
  padding: 10px 20px;
  // margin-top: 50px; // This is making small screens have to scroll down more than needed
  border-radius: 3px;

  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}
