.form-login {
  background: white;
  padding: 10px 20px;
  border-radius: 3px;

  .btn {
    width: 100%;
    margin-bottom: 20px;
  }

  .btn-modal {
    width: 20%;
    font-size: 0.8rem;
  }
}

#sticky-div {
  position : sticky;
  top : 0;
  background-color:  white;
  width: 100%;
  z-index: 1;
}

.flex-between {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

#counter {
  margin: 0 15px;
}

.incrementer {
  width: 40px;
  font-size: 22px;
  font-weight: bold;
  height: 40px;
  padding: 5px;
  text-align: center;

  &:hover,
  &:focus {
    text-decoration: none;
    color: white;
  }
}

#chomp_session_invitees {
  display: none;
}

.text-danger {
  font-size: 14px;
}
