<div id="review-<%= review.id %>">
  <h3 class="review-title"><%= review.title %></h3>
  <%= render partial: "stars", locals: {review: review} %>
  <p class="review-content"><%= review.content %></p>
</div>
